* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url('/images/signUp.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    color: white;
}