<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vault</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <p><a href="/exercises/new">Log a new exercise</a></p>
    <ul>
        <% 
        const latestEntries = {};
        
        exercises.forEach((exercise) => {
            if (!latestEntries[exercise.exercise] || exercise.createdAt > latestEntries[exercise.exercise].createdAt) {
                latestEntries[exercise.exercise] = exercise;
            }
        });

        Object.values(latestEntries).forEach((exercise) => { %>
            <li>
                <h2><a href="/exercises/<%= exercise._id %>"><%= exercise.exercise %></a></h2>
            </li>
        <% }) %>
    </ul>
</body>
</html>